[submodule "toolsnt"]
	path = toolsnt
	url = https://github.com/kaliiiiiiiiii/toolsnt
[submodule "hadris"]
	path = hadris
	url = https://github.com/kaliiiiiiiiii/hadris
[submodule "mkwimg/mkwimg/rdisk"]
	path = mkwimg/mkwimg/rdisk
	url = https://github.com/vsrs/rdisk
[submodule "mkwimg/rdisk"]
	path = mkwimg/rdisk
	url = https://github.com/kaliiiiiiiiii/rdisk
