[submodule "toolsnt"]
	path = toolsnt
	url = https://github.com/kaliiiiiiiiii/toolsnt
[submodule "hadris"]
	path = hadris
	url = https://github.com/kaliiiiiiiiii/hadris
[submodule "mkwimg/rdisk"]
	path = mkwimg/rdisk
	url = https://github.com/kaliiiiiiiiii/rdisk
[submodule "mkwimg/nt_native"]
	path = mkwimg/nt_native
	url = https://github.com/kaliiiiiiiiii/nt_native
